.row
  .col.s12.m6.question_and_answer
    .nested-fields
      .input-field
        = f.label :title, 'Question text?'
        = f.text_field(:title, {:class => 'form-control'})
      .input-field
        = f.label :body, 'Question detailed description'
        = f.text_field(:body, {:class => 'form-control'})
      = link_to_remove_association "remove question", f