- if has_role?(:admin)
  %a.btn.grey.z-depth-2{href: "/forms/new"} Add checklist
  .row
    .col.s12
      .card.material-table
        %table#datatable
          %thead
            %tr
              %th Name
              %th Description
              %th Status
              %th Published
              %th Actions
          %tbody
            - @forms.each do |form|
              %tr
                %td
                  = form.title
                %td
                  = form.body
                %td
                  = form.status
                  -if form.status == 'draft'
                    = form.updated_at.strftime("%d.%m.%Y")
                %td
                  - if form.published_at
                    = form.published_at.strftime("%d.%m.%Y")
                %td
                  = link_to 'Edit', edit_form_path(form.id)
                  = link_to 'Delete', form_path(form.id), method: :delete, data: {confirm: 'do you want to delete the checklist?'}
                  - if form.status == 'draft'
                    = link_to 'Publish', :action => 'publish', :id => form
- else
  Sorry, you have no access