- if has_role?(:admin)
  %a.btn.grey.z-depth-2{href: "/forms/new"} Add checklist
  .row
    .col.s12
      .card.material-table
        %table#datatable
          %thead
            %tr
              %th Name
              %th Description
              %th Status
              %th Published
              %th Actions
          %tbody
            - @forms.each do |form|
              %tr
                %td
                  = form.title
                %td
                  = form.body
                %td
                  = form.status
                  -if form.status == 'draft'
                    = form.updated_at.strftime("%d.%m.%Y")
                %td
                  -if form.published_at
                    = form.published_at.strftime("%d.%m.%Y")
                %td
                  = link_to edit_form_path(form.id), class: "i" do
                    %i.material-icons create
                  %a.dropdown-button{"data-activates" => "dropdown1", href: "#"}
                    %i.material-icons more_vert
                  %ul#dropdown1.dropdown-content
                    %li
                      = link_to form_path(form.id), method: :delete, data: {confirm: 'do you want to delete the checklist?'} do
                        Delete
                        %i.material-icons delete
                    %li
                      = link_to :action => 'publish', :id => form do
                        Publish
                        %i.material-icons.right remove_red_eye
- else
  Sorry, you have no access