.row
  .col.s12.m6.question_and_answer
    .nested-fields
      .field
        %div{style: "font-size:2vw;text-align;"}
          = f.object.question.title
      .field
        = f.object.question.body
      .field
        = f.hidden_field :question_id, value: f.object.question.id
      .field
        = f.label :value, 'Choose the question corresponding status'
        = f.select :value, :collection => Question::ANSWER_OPTIONS.map {|k,v| [v,k]}
      .field
        = f.label :comment
        = f.text_field(:comment, {:class => 'form-control'})