= form_for @checklist do |f|
  - if @checklist.errors.any?
    - @checklist.errors.full_messages.each do |msg|
      .alert.red-text= msg
  .field
    = f.hidden_field :project_uid
    = f.hidden_field :form_id
  #answers
    = f.fields_for :answers do |answer|
      = render 'answer_fields', :f => answer
  %button.btn.grey.z-depth-2.btn_save{ name: "action", type: "submit"}
    Save
    %i.material-icons.right send
= link_to :back, class: "btn_back", id: "back_button", data: {confirm: 'Unsaved changes will be clearing on going back'} do
  %i.material-icons keyboard_backspace