#test1.col.s12
  %a.btn.grey.modal-trigger.z-depth-2{:href => "#modal1"} Fill checklist
  #modal1.modal.modal-fixed-footer
    .modal-content
      .input-field.col.s12
        %div
          = form_for @checklist, url: new_checklist_path, method: 'get' do |f|
            = f.label :project_uid, 'Project_ID:'
            = f.text_field(:project_uid, {:class => 'form-control'})
            Select checklist to fill:
            = f.collection_select(:form_id, Form.all, :id, :title)
            = f.submit("Filling")
            = link_to 'Cancel', root_path
  .row
    .col.s12
      .card.material-table
        %table#datatable
          %thead
            %tr
              %th Project
              %th Checklist
              %th Updated
              %th Questions
              %th Actions
          %tbody
            - @checklists.each do |checklist|
              %tr
                %td= checklist.project_uid
                %td= checklist.form.title
                %td= checklist.updated_at.strftime("%d/%m/%Y")
                %td
                  - checklist.answers.each do |answer|
                    = Question::ANSWER_OPTIONS[answer.value]
                %td
                  = link_to edit_checklist_path(checklist.id), class: "i" do
                    %i.material-icons create
                  %a.dropdown-button.grey.lighten-5.black-text{"data-activates" => "dropdown1", href: "#"}
                    %i.material-icons more_vert
                  %ul#dropdown1.dropdown-content
                    %li
                      = link_to checklist_path(checklist.id), method: :delete, data: {confirm: 'do you want to delete the checklist?'} do
                        Delete
                        %i.material-icons delete