<!DOCTYPE html>

<html>

<head>

  <title>Task</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>

<nav style="min-height: 140px">
  <div class="nav-wrapper cyan">
    <a href="#" class="brand-logo logo_checklist">Checklist</a>
    <ul id="nav" class="right">
      <li><%= link_to 'Profile', root_path %></li>
    </ul>
    <ul id="nav" class="left nav_links">
      <li class="tab"><%= link_to 'Fill checklists', checklists_path %></li>
      <li class="tab"><%= link_to 'Configure checklists', forms_path %></li>
    </ul>
  </div>
</nav>
<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
    $( document ).ready(function () {
        $(".button-collapse").sideNav();
    });
</script>
<script>
    $( document ).ready(function() {
        $('select').material_select();
    });
</script>
<script>
    $(document).ready(function(){
        $('.modal').modal();
    });
</script>
</body>

</html>